body{
  margin: 0;
  padding-bottom: 10%;
}
.section{
  height: 90vh;
  width: 100%;
  padding-top: 5%;
}
.hidden{
  display:none;
}
#title{
  font-size: 3em;
  padding-top: 5%;
  padding-left: 10%;
}
.text{
  padding: 2%;
  font-size: 1em;
  border-radius: 5px;
  margin-top: 10%;
  margin-bottom: 10%;
}
#textsection{
  margin-left: 35%;
  margin-right: 5%;
}
.subtitle{
  font-size: 2em;
  padding-top: 5%;
  padding-left: 10%;
}
.caption{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.quote{
  color: darkblue;
}
.imagediv{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.images{
  max-width: 100%;
}
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}
#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}
#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
}
