body{
  margin: 0;
  padding-bottom: 10%;
  font-family: 'Chivo', sans-serif;
  min-width: 420px;
}
a{
  text-decoration: none;
  color: #00c0ff;
}
.section{
  height: 90vh;
  width: 100%;
  padding-top: 5%;
}
.hidden{
  display:none;
}
#title{
  font-size: 3em;
  padding-top: 5%;
  font-family: 'Asul', sans-serif;
  text-align: center;
}
.text{
  font-size: 1em;
  border-radius: 5px;
  margin-top: 10%;
  margin-bottom: 10%;
}
#textsection{
  margin-left: 30%;
  margin-right: 5%;
}
.subtitle{
  font-size: 2em;
  padding-top: 10%;
  font-family: 'Asul', sans-serif;
}
.caption{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  font-weight: 900;
  font-size: 0.8em;
}
.quote{
  font-family: 'Asul', sans-serif;
  font-style: italic;
  line-height: 1.5em;
  padding-left: 5%;
  padding-right: 5%;
}
.imagediv{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}
.images{
  max-width: 100%;
}
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}
#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}
#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
}
.sourcestext{
  color: #808080;
  font-size: 0.5em;
}
